:root {
  --primary: #303030;
  --accent: #79CAF9;
  --daccent: #fd6f2a;
  --dark: #303030;
}

html,
body {
  margin: 0px;
  padding: 0px;
  font-size: 15px;
}

body {
  width: 100%;
  height: 100%;
}

#load {
  background: var(--primary);
  z-index: 1;
  margin: 0 auto;
  position: absolute;
  height: 100%;
  width: 100%;
}

.tabs ul li:hover {
  background: #fff;
  transition: 300ms all;
}

.tabs li:hover a {
  color: hsl(204, 86%, 53%) !important;
  transition: 300ms all;
}

#top {
  background: url(banner2.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#top .title {
  font-size: 3em;
}

.hero-body {
  background: rgba(255, 255, 255, 0.5);
}

.price {
  opacity: 0.5;
}

#sketch .price, #sketch .subtitle {
  margin-top: -1.25rem;
  margin-bottom: 1.25rem;
}

.gallery {
  width: 100%;
  margin-top: 0.5rem !important;
}

#illust .price:not(:last-child) {
  margin-bottom: 0;
}

#comm .column:first-child {
  text-align: center;
}

#comm .th {
  width: 15em;
  height: 15em;
  object-fit: cover;
  object-position: center;
}

#comm .sample {
  width: auto;
  object-fit: cover;
  object-position: center;
}

.box {
  border: none !important;
  box-shadow: none !important;
}

.question {
  font-weight: bold;
}

.answer {
  opacity: 0.8;
}

#info p:before {
  content: '✨ ';
}

#info .title:before {
  content: '';
}

.sub {
  opacity: 0.5;
}

s {
  text-decoration: none;
  color: var(--accent);
}

#name {
  margin-bottom: 0;
}

#leftmenu {
  position: -webkit-sticky;
  position: sticky;
  top:0;
  font-weight:bold;
}
